.login-container{
  width:350px;
  margin:100px auto;
  background:white;
  padding:30px;
  border-radius:10px;
  display:flex;
  flex-direction:column;
  gap:15px;
}

.login-container input{
  padding:10px;
}

.login-container button{
  padding:10px;
  background:#2563eb;
  color:white;
  border:none;
}

.dashboard-container{
  width:85%;
  margin:30px auto;
}

.dashboard-menu{
  display:flex;
  gap:20px;
  margin:20px 0;
}

.dashboard-menu button{
  padding:10px 20px;
}

.stats{
  display:flex;
  gap:20px;
  margin:20px 0;
}

.box{
  flex:1;
  background:white;
  padding:20px;
  text-align:center;
  border-radius:10px;
}